{
    email {$EMAIL}
    acme_dns cloudflare "{$CF_API_TOKEN}"
    debug
}

*.{$DOMAIN} {

  @jellyfin host jellyfin.{$DOMAIN}
  handle @jellyfin {
    reverse_proxy 10.10.10.162:8096
  }

  @komodo host komodo.{$DOMAIN}
  handle @komodo {
    reverse_proxy komodo-core-1:9120
  }

  @immich host immich.{$DOMAIN}
  handle @immich {
    reverse_proxy 10.10.10.163
  }

  @storage host storage.{$DOMAIN}
  handle @storage {
    reverse_proxy 0.10.10.8:5000
  }

  @router host router.{$DOMAIN}
  handle @router {
    reverse_proxy 10.10.10.1
  }

  handle {
    abort
  }

  log {
    output stdout
    format console
  }
}