services:
  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:2.10.2-alpine
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      main_vlan:
        ipv4_address: 10.10.10.161
      komodo_default:
    dns:
      - 1.1.1.1
    environment:
      - CF_API_TOKEN="{$CF_API_TOKEN}"
      - DOMAIN="{$DOMAIN}"
      - EMAIL="{$EMAIL}"
volumes:
  caddy_data:
    name: caddy_data
  caddy_config:
    name: caddy_config
networks:
  main_vlan:
    external: true
  komodo_default:
    external: true